/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Geral */

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}


#logo {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}


button:hover, form .btn-submit input[type=submit]:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1.title {
    color: #fff;
}

.title span {
    color: #00FF08;
}

/* Cabeçalho */

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}*/

header .navbar-nav .nav-item a:hover {
    transform: scale(1.05);
    color: #00FF08;
}

header .dropdown-menu {
    background-color: #000;
}

header .dropdown-menu a {
    color: #fff;
}

header .dropdown-menu a:hover {
    transform: scale(1);
    background-color: #000;
    color: #00FF08;
}

/*
header nav ul {
    list-style: none;
}*/

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


header nav ul li .clock-design {
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #000;
  }
  
  .clock-design span {
    padding: 0 2px;
    background-color: #000;
    color: #00FF08;
  }

  .interface .btn-contact button {
    color: #000;
    background-color: #00FF08;
    font-weight: bold;
    font-size: 30px;
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.modal-header {
    background-color: #0d6efd;
    color: white;
}
.was-validated .form-control:valid, .form-control.is-valid {
    background-image: none;
    padding-right: 12px;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: none;
    padding-right: 12px;
}


/* Linguas */

section.languages {
    padding: 40px 4%;
}

section.languages h1 {
    text-align: center;
}

section.languages .flex {
    gap: 60px;
}

.languages .languages-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.languages .interface .flex img {
    width: 100px;
    height: 50px;
}

.languages .languages-box:hover {
    color: #000;
    background-color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.languages .languages-box h3, .languages .languages-box p {
    text-align: center;
}


/* hard skills */

section.hard-skills {
    padding: 40px 4%;
}

section.hard-skills h1 {
    text-align: center;
}

section.hard-skills .flex {
    gap: 60px;
}

.hard-skills .hard-skills-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}


.hard-skills .hard-skills-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}



/* Linguagens de Programação */

section.programming-languages {
    padding: 40px 4%;
}

section.programming-languages h1 {
    text-align: center;
}

section.programming-languages .flex {
    gap: 60px;
}

.programming-languages .programming-languages-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.programming-languages .programming-languages-box h3 {
    text-align: center;
}


.programming-languages .programming-languages-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.programming-languages .interface .flex img {
    width: 100px;
    height: 100px;
}


/*
.progress-bar {
    background: #fff;
    width: 100px;
    height: 10px;
    border-radius: 13px;
    border: 2px solid #fff;
}
*/


.progress-bar {
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100px;
}

#progress-bar-python:after{
    content: '';
    display: block;
    background: #00FF08;
    height: 100%;
    border-radius: 9px;
    animation: progress-python 4s ease-in-out forwards;
}

@keyframes progress-python {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

#progress-bar-java:after{
    content: '';
    display: block;
    background: #00FF08;
    height: 100%;
    border-radius: 9px;
    animation: progress-java 4s ease-in-out forwards;
}

@keyframes progress-java {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

#progress-bar-c:after{
    content: '';
    display: block;
    background: #00FF08;
    height: 100%;
    border-radius: 9px;
    animation: progress-c 4s ease-in-out forwards;
}


@keyframes progress-c {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

#progress-bar-cpp:after{
    content: '';
    display: block;
    background: #00FF08;
    height: 100%;
    border-radius: 9px;
    animation: progress-cpp 4s ease-in-out forwards;
}

@keyframes progress-cpp {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

#progress-bar-swift:after{
    content: '';
    display: block;
    background: #00FF08;
    height: 100%;
    border-radius: 9px;
    animation: progress-swift 4s ease-in-out forwards;
}

@keyframes progress-swift {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

#progress-bar-csharp:after{
    content: '';
    display: block;
    background: #00FF08;
    height: 100%;
    border-radius: 9px;
    animation: progress-csharp 4s ease-in-out forwards;
}

@keyframes progress-csharp {
    from {
        width: 0%;
    }
    to {
        width: 10%;
    }
}

#progress-bar-asm:after{
    content: '';
    display: block;
    background: #00FF08;
    height: 100%;
    border-radius: 9px;
    animation: progress-asm 4s ease-in-out forwards;
}

@keyframes progress-asm {
    from {
        width: 0%;
    }
    to {
        width: 10%;
    }
}





/* Frameworks */

section.frameworks {
    padding: 40px 4%;
}

section.frameworks h1 {
    text-align: center;
}

section.frameworks .flex {
    gap: 60px;
}

.frameworks .frameworks-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}


.frameworks .frameworks-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.frameworks .frameworks-box h3 {
    text-align: center;
}

.frameworks .interface .flex img {
    width: 100px;
    height: 100px;
}

#progress-bar-swiftui:after{
    content: '';
    display: block;
    background: #00FF08;
    height: 100%;
    border-radius: 9px;
    animation: progress-swiftui 4s ease-in-out forwards;
}

@keyframes progress-swiftui {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

#progress-bar-net:after{
    content: '';
    display: block;
    background: #00FF08;
    height: 100%;
    border-radius: 9px;
    animation: progress-net 4s ease-in-out forwards;
}

@keyframes progress-net {
    from {
        width: 0%;
    }
    to {
        width: 30%;
    }
}


/* Soft skills */

section.soft-skills {
    padding: 40px 4%;
}

section.soft-skills h1 {
    text-align: center;
}

section.soft-skills .flex {
    gap: 60px;
}

.soft-skills .soft-skills-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}


.soft-skills .soft-skills-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}


/* Ferramentas de Software */

section.software-tools {
    padding: 40px 4%;
}

section.software-tools h1 {
    text-align: center;
}

section.software-tools .flex {
    gap: 60px;
}

.software-tools .software-tools-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}


.software-tools .software-tools-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.software-tools .software-tools-box h3 {
    text-align: center;
}

.software-tools .interface .flex img {
    width: 100px;
    height: 100px;
}




/* Estilo Rodapé */

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

#codecademy {
    width: 26px;
    height: auto;
    border-radius: 0;
}

footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff25;
}


footer .flex {
    justify-content: space-between;
}


footer .line-footer {
    padding: 20px 0;
}

.border {
    border-bottom: 2px solid #00FF08;
}

footer .line-footer p i{
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    text-decoration: none;
}



/* Resposividade */

@media screen and (max-width: 1020px) {

    /* gerais */

    .flex {
        flex-direction: column;
    }

    .site-top .flex {
        flex-direction: column-reverse;
    }

    h2.title {
        font-size: 34px;
        line-height: 30px;
    }

    /* Cabeçalho */
    .menu-desktop, .btn-contact {
        display: none;
    }

    /* Topo do Site*/
    section.site-top  {
        padding: 20px 10%;
    }

    .site-top h1 {
        font-size: 30px;
    }

    .site-top .img-site-top {
        width: 100%;
    }

    /* Especialidades */
    section.specialty {
        padding: 40px 8%;
    }

    /* Sobre mim */
    section.about {
        padding: 80px 8%;
    }

    section.about .txt-about h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    /* Portfólio */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /* Fala Comigo */
    section.talk-to-me {
        padding: 80px 8%;
    }

    /* Rodapé */
    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
    }

}