
/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Geral */

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}


#logo {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.btn-contact button{
    padding: 10px 40px;
    /*font-size: 18px;
    font-weight: 600;*/
    background-color: #00FF08;
    /* border: 0; */
    /* border-radius: 30px; */
    cursor: pointer;
}

button:hover, form .btn-submit input[type=submit]:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

.title {
    color: #fff;
    text-align: center;
}

.title span {
    color: #00FF08;
}

.flex {
    display: flex;
}

/* Cabeçalho */

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}*/

header .navbar-nav .nav-item a:hover {
    transform: scale(1.05);
    color: #00FF08;
}

header .dropdown-menu {
    background-color: #000;
}

header .dropdown-menu a {
    color: #fff;
}


header .dropdown-menu a:hover {
    transform: scale(1);
    background-color: #000;
    color: #00FF08;
}

/*
header nav ul {
    list-style: none;
}*/

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


header nav ul li .clock-design {
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #000;
  }
  
  .clock-design span {
    padding: 0 2px;
    background-color: #000;
    color: #00FF08;
  }

/* Certificados */

section.certificates {
    padding: 40px 4%;
}

section.certificates .interface h1 {
    font-size: 40px;
}

section.certificates .flex {
    gap: 60px;
}

.certificates .certificate-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.certificates .certificate-box a {
    text-decoration: none;
    color: #fff;
}

.certificates .certificate-box h2 span {
    color: #00FF08;
}

.certificates .certificate-box i {
    font-size: 50px;
}

.certificates .certificate-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
    cursor: pointer;
}

/* Formação académica */

section.formation {
    padding: 40px 4%;
}

section.formation .interface h1 {
    font-size: 40px;
}

section.formation .flex {
    gap: 60px;
}




























/* Estilo Rodapé */

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

#codecademy {
    width: 26px;
    height: auto;
    border-radius: 0;
}

footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff25;
}


footer .flex {
    justify-content: space-between;
}


footer .line-footer {
    padding: 20px 0;
}

.border {
    border-bottom: 2px solid #00FF08;
}

footer .line-footer p i{
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    text-decoration: none;
}
