/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Geral */

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}


header .interface img, footer .flex img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.btn-contact button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

button:hover, form .btn-submit input[type=submit]:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

/* Cabeçalho */

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}



























/* Estilo Rodapé */

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

#codecademy {
    width: 26px;
    height: auto;
    border-radius: 0;
}

footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff25;
}


footer .flex {
    justify-content: space-between;
}


footer .line-footer {
    padding: 20px 0;
}

.border {
    border-bottom: 2px solid #00FF08;
}

footer .line-footer p i{
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    text-decoration: none;
}
